body {
    background: black;
    margin-top: 60px;
    font-family: arial;
}

.post {
    background: white;
    width: 500px;
    margin: auto;
}

.posthead {
    padding: 15px;
    display: flex;
}

.posthead i {
    font-size: 28px;
    margin-top:4px;
}
#secondiconhead{
    margin-left:375px;
}

p {
    margin: 3px;
    margin-left:4px;
}

img {
    width: 100%;
    margin-top: -5px;
}

.icons {
    font-size: 25px;
    display: flex;
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.icons i:nth-child(1) {
    margin-right: 9px;
}

.icons i:nth-child(2) {
    margin-right: 9px;
}

.icons i:nth-child(3) {
    margin-right: 355px;
}

.likes {
    margin-left: 14px;
    margin-top: 10px;
}

.description {
    padding: 20px;
    margin-left: -3px;
    margin-top:-10px;
}