body {
    background: black;
    margin-top: 60px;
    font-family: arial;
}

.post {
    background: white;
    width: 500px;
    margin: auto;
}

.posthead {
    padding: 15px;
    display: flex;
}

.posthead i {
    font-size: 28px;
    margin-top:4px;
}
.left-side{
    margin-left:10px;
    font-size: 17px;
}
.ellipsis{
    margin-left:auto;
}

p {
    margin: 3px;
    margin-left:4px;
}

img {
    width: 100%;
}

.icons-container{
    display:flex;
    padding: 15px;
    font-size:28px;
}

.icons-right{
    margin-left:auto;
}

.likes {
    padding-left:15px;
}
.description{
    padding: 15px 0px 15px 15px;
}

